<div class="main-toolbar mat-elevation-z2" fxLayout="row"
     fxLayoutAlign="space-between">
  <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly start">
    <span class="titles">Inteligencia Artificial</span>
    <span class="titles">Proyecto final: Algoritmos genéticos</span>
  </div>
  <div id="icons">
    <img class="logos" id="logo-uaq" src="https://firebasestorage.googleapis.com/v0/b/binm-6f7f3.appspot.com/o/logo-uaq.png?alt=media&token=1dbcf6d5-7c55-498e-a6d6-3632976fc94a" alt="">
    <img class="logos" id="logo-informatica" src="https://firebasestorage.googleapis.com/v0/b/binm-6f7f3.appspot.com/o/logo-informatica.png?alt=media&token=2710ad3f-65bc-4e93-8740-9eb4de978f4b" alt="">
  </div>
</div>
<router-outlet></router-outlet>
