.main-toolbar {
  height: 20vh;
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 10;
}

.logos {
  height: 16vh;
  width: auto;
  margin: 2vh 2vh 2vh 0;
}

#icons {
  box-sizing: border-box;
}

.titles {
  font-family: 'Lexend Deca', sans-serif;
  padding-left: 1em;
}
.titles :last-child {
  color: #607d8b;
}
